[2016-02-05 18:28] mhewson opened #3 "Navigation in the footer is not resolving to the correct location"
clicking on footer links within http://rei.github.io/rei-cedar/ is causing a 404

[2016-02-05 18:29] bonpixel commented on #3
I'm all over it!

[2016-02-05 23:53] #3 closed

[2016-02-09 19:28] wjramos opened #17 "Hard-coded protocols in resources on Docs"
Issue: When you visit docs using HTTPS, resources fail to load because of blocked insecure sources.

Solution: Replace hard-coded `http://` protocols with `//` or `https://`

[2016-02-10 06:26] wjramos opened #19 "Provide distribution / ready-to-consume css library"

[2016-02-10 17:04] #19 closed

[2016-02-18 16:55] wjramos opened #39 "Ratio utility assumes parent width full width"
For example: `.ratio-square .col-xs-4` will have the same height as  `.ratio-square .col-xs-12` when the ratio is applied to the element with a column span vs a child of an element with a column span.

Currently works correctly as `.col-xs-4 > .ratio-square` or  `.col-xs-12 > .ratio-square`, but I'd imagine this addition to be an expected behavior.

This also means across breakpoints, the behavior

[2016-02-18 17:03] wjramos commented on #39
Nevermind, this may be a false issue

[2016-03-15 03:35] wjramos commented on #39
Actually, this is not something I want to address. This will just confuse structural vs content classes.

[2016-03-15 03:35] #39 closed

[2016-04-14 16:33] wjramos commented on #17
This issue seems to occur when using strict https enforcement

[2016-04-14 16:34] wjramos commented on #17
See https://rei.github.io/rei-cedar

[2016-04-20 07:39] wjramos opened #95 "Remove package.json from /docs_src/_data/"
It looks like this is essentially being used as a strings file for Jekyll – this should be split out and consolidated with other jekyll value configs

[2017-06-06 16:03] #95 closed

[2017-06-06 16:03] #17 closed

[2017-12-08 20:35] megafatsquirrel opened #342 "Cedar Heading not respecting level modifer"
<cdr-heading level="1">Basic Information</cdr-heading>

Regardless of level used the font-size is set to 16px.

[2017-12-08 20:36] megafatsquirrel opened #343 "Cedar button "link" modifier not working"
<cdr-button modifier="link">Don't Specify</cdr-button>

Should look like a link, but instead keeps it button styling.

[2017-12-08 21:08] mhewson commented on #342
Size values for heading are set via the modifier, with level attribute used for the proper semantic structuring of a page.  This component is subject to change as our design team is actively working on typography.
see: http://rei.github.io/rei-cedar/#cdr-heading, if you expand the code sample you can change the modifier to effect size, type family and other typographical values.
see: https://brand

[2017-12-08 21:08] #342 closed

[2017-12-08 21:10] mhewson commented on #343
Hi @megafatsquirrel, please verify your component looks as follows?
`<cdr-button modifier="link">Link</cdr-button>`

[2017-12-08 21:20] lancetharper commented on #343
This depends on having the css for cdr-a too. If you don't have that included, that modifier won't work.

We'll have to note that in the docs for it.

[2017-12-08 21:34] megafatsquirrel commented on #342
Thanks, that makes sense. I miss read the documentation.

[2017-12-13 17:20] lancetharper commented on #343
Including the cdrA css fixed this.

I'll add a note in the button readme and will do the same for anchor with the "button" modifier

[2017-12-13 17:20] #343 closed

[2017-12-13 18:00] mhewson commented on #343
@lancetharper, should we add a per-dependancy into these components to grab the needed css files?

[2017-12-13 18:26] megafatsquirrel commented on #343
Sorry I missed the notifications. Lance set me right with including the cdrA css.

[2018-01-04 23:46] jnields opened #349 "Package is too heavyweight"
Hey guys - Cedar is too big because it’s including all of lodash and because it’s including lots of babel files to support ES6.

At a minimum, it would be good to change
```import { isArray } from 'lodash'```
to
```import isArray from 'lodash/isArray'```

https://github.com/rei/rei-cedar/blob/future-vue/src/components/radio/cdrRadio.vue#L20
https://github.com/rei/rei-cedar/blob/future-vue/src/comp

[2018-01-05 00:22] lancetharper commented on #349
Cedar won't be consumed the way you guys are currently getting it. You can get all of the components individually via npm instead of a few big files.

The latest stuff is much lighter and already has those lodash parts trimmed down. All of the components will come without dependencies (only peerDependencies).

[https://github.com/rei/rei-cedar/blob/npm-future-vue/src/components/radio/cdrRadio.vue#

[2018-01-05 00:22] #349 closed

[2018-01-22 23:40] jnields opened #352 "CdrRating reads full rating string on screen-reader"
Aria-text for CdrRating includes the entire rating (e.g. 3.1205932852882). This isn't required and is actually confusing - the screen-reader should relay the same information that sighted users see (i.e. the rating rounded to nearest .25)

[2018-01-22 23:46] jnields opened #353 "Source code is unnecessarily minified, making debugging difficult"
It is impossible to step through cedar components as they are completely minified.

It is not necessary to minify the source code, which is something that the final consumer of the package (i.e. the build for final bundling and web distribution) should be expected to do.

[2018-01-22 23:51] jnields opened #354 "Components have single, non-intuitive named export rather than default export"
Current:
[code]

Expected:
[code]

[2018-01-23 00:29] jnields commented on #354
Hm... OK, sure. Though I would say it may be easier to just export it as a component and allow clients to use it globally if they would really like to.

This is pretty simple for us to do:
[code]

[2018-01-23 00:30] jnields commented on #354
otherwise I think it makes sense to either change the components’ names or the package names so that they match, you know?

[2018-01-26 19:45] #352 closed

[2018-02-12 21:51] jnields opened #374 "components should include a "style" field in the `package.json`"
Postcss uses the [style field](https://github.com/postcss/postcss-import) to indicate where styles are included. This is basically the closest thing to a standard for including style alongside javascript that seems to exist for npm modules and would be helpful to include

[2018-02-12 22:01] lancetharper commented on #374
This was done as part of the npm package org/name changes

https://github.com/rei/rei-cedar/blob/cedar2/src/components/anchor/package.json
https://www.npmjs.com/org/rei

[2018-02-12 22:01] #374 closed

[2018-02-12 22:30] jnields opened #375 "button lists `@rei/cdr-anchor` as peer dep instead of `@rei/cdr-a`"
`@rei/cdr-button` has an incorrect package.json. the package `@rei/cdr-anchor` does not exist

[2018-02-12 22:44] lancetharper commented on #375
Whoops!

Fixed in 0.0.3

[2018-02-12 22:44] #375 closed

[2018-02-28 19:18] jnields commented on #354
Global variables are an anti-patttern and discourage code-reuse. Will you please discourage use of `Vue.use` as this will cause problems for code-sharing not too far down the road

Scenario:
I create a component, '@rei/foo',  to use @rei/cdr-btn@1.0.0:

[code]

then that is used on a page that also uses `@rei/cdr-btn`, but a different version: `@rei/cdr-btn@2.0.0`

so when I do

[code]

the page i

[2018-03-07 00:33] lancetharper commented on #354
This is on our radar -- hopefully getting around to doing this soonish.

We'll probably output two files -- component and plugin. the component would be the main but we still want to keep plugins too because they allow for use cases where there might not be a build system.

[2018-03-07 17:54] jnields commented on #354
@lancetharper awesome

Have you considered outputting a UMD build ilo of a plugin?

[2018-03-07 18:02] jnields commented on #354
@lancetharper awesome -

Have you also considered just outputting a UMD build? Then it's compatible w/ whatever - regardless of whatever is (or isn't) being used to bundle

[2018-03-08 18:52] lancetharper commented on #354
The current output is UMD

[2018-03-09 00:06] jnields opened #384 "peerDependencies are being bundled into component dist files"
Right now, you're using webpack for your build
Also right now, cdr-media-object is ~20kb minified despite the source code being 3.7kb unminified

Ideally, when I import a dependent module, that module descriptor's `main` is keeping track of its dependencies via require statements

Here's where webpack / browserify are somewhat unsuited toward transpiling library code - their motivations are for "r

[2018-03-09 19:13] jnields commented on #384
Oh, also, thank you for using `babel-plugin-transform-runtime`!

The babel helper requires, e.g.
[code]
right now would also be bundled rather than being referenced as `require`s for the same reason

[2018-04-18 22:06] jnields opened #407 "cdr-rating displays the incorrect number of stars"
3.99 stars shows 3 stars, 4.99 shows 4 stars

[2018-04-18 22:07] jnields opened #408 "cdr-rating a11y text is not correct"
rating of 4.81849 stars should have a screen-reader text of 'Four and three-quarter stars' as it's what is represented visually. instead it shows 4.81849 stars

[2018-04-18 22:38] jnields opened #409 "cdr-icon lists svgxuse as a peer dependency"
It should not - svgxuse will break vue ssr hydration and generally cause problems because it mutates elements that should be under vue's control

[2018-04-18 23:04] lancetharper commented on #407
Fixed in 0.1.1

now shows 4 and 5 respectively

[2018-04-18 23:04] #407 closed

[2018-04-18 23:05] lancetharper commented on #408
What version of rating? SR text says 4.75 for me on v0.1.0

[2018-04-18 23:08] lancetharper commented on #409
This has already been removed for the upcoming 0.2.0 release.

A polyfill of some kind (whether svgxuse or something else) will be needed to support sprite usage though.

[2018-04-19 16:51] jnields commented on #409
you don't need a polyfill if the defs are on the page - ie `<use href="#foo">`- just can't be an external reasource for IE11

[2018-04-19 16:51] #409 closed

[2018-04-27 22:56] #408 closed

[2018-05-15 21:28] jnields opened #420 "Cedar Components don't work as intended w/ rollup / webpack 4"
To use a component, I have to do this:

[code]

this is because you're not actually outputting a named export - that would require a module build.

Instead the main files are `module.exports = { CdrImg: [actual component] };`

Also if you did `export default ` instead of `export { defaut as foo }` this wouldn't be an issue and you wouldn't need to disable the linter warning 🙃

[2018-05-15 21:31] jnields opened #421 "No module build provided"
For webpack 4 & rollup and future node 9 & future browser compatibility, will you please offer a module build

[2018-05-15 21:58] jnields opened #422 "Remove svgxuse from peerdepencies of icon"
svgxuse doesn't work with Vue - it corrupts the DOM (because the svgs are supposed to be under the control of Vue) and causes errors in IE

[2018-05-15 21:59] jnields commented on #422
related: you can still use xlink:href and use if you put the icons in a definition at the top of the markup and have xlink:href point to an id on the page (e.g. `xlink:href="#some-id"`)

[2018-05-15 22:09] lancetharper commented on #422
For visibility:

`svgxuse` was removed in cdr-icon 0.2.0

this is related to mediaObject (which has a dependency on icon 0.1.0) and will be fixed once media object is updated again

[2018-06-26 16:42] #354 closed

[2018-10-02 18:27] coleww opened #500 "cdr-grid missing `style` entry in package.json"
the cdr-grid component is missing a `style` entry in the package.json (https://github.com/rei/rei-cedar/blob/next/src/components/grid/package.json) which causes postcss imports to not work (i.e, `@import url('@rei/cdr-grid');`) This issue can be worked around, but other cedar components appear to have a style entry.

[2018-10-04 18:54] jnields opened #501 "Cdr-button uses non-standard require statement - breaking build"
dist/cdr-button.js contains the following

`require("@rei/cdr-icon/dist/cdr-icon.css")`

this is an invalid require statement and it should be removed

[2018-10-04 19:11] zfolwick commented on #501
what version of button are you using?

[2018-10-04 19:18] jnields opened #502 "@rei/cdr-link has outdated icon dependency"
@rei/cdr-link has icon@0.1 (prerelease) as a dependency

This should be upgraded to a minimum of @rei/cdr-icon@1.0.0

[2018-10-04 21:18] darintrimillos commented on #501
This is fixed in version `1.0.3-alpha.0`.

[2018-10-17 15:28] elizabethfinedev opened #508 "Upgrading cdr-card to use cdr-assets: 0.3.0"
Hi everyone! I'm trying to update the cedar components in my project, but here is the problem I'm having:

All the upgraded cedar components I'm using are dependent on `cdr-assets: 0.3.0`, except for `cdr-card`.

The latest version of `cdr-card` that I can install is `0.2.0`, which looks like it's dependent on  `cdr-assets: 0.1.0`.

Could I please request for cdr-card to be upgraded to `cdr-assets

[2018-10-17 17:36] mhewson commented on #508
@efine package has been bumped to 0.2.2 -- https://codesandbox.io/s/n9wppzo354

[2018-10-17 17:37] #508 closed

[2018-10-17 17:40] darintrimillos commented on #501
Version 1.0.3 has been released, which fixes this issue. Thanks for catching.

[2018-10-17 17:40] #501 closed

[2018-10-17 17:43] mhewson commented on #502
cdr-link has been moved to 1.0.2 https://codesandbox.io/s/jnv1rko1z9

[2018-10-17 17:44] #502 closed

[2018-10-17 17:45] mhewson commented on #500
@lancetharper can you review and make a recommendation to remediate?

[2018-10-17 17:46] #422 closed

[2018-10-17 18:01] lancetharper commented on #500
Yes, I'll add this in with the next release 👍

[2018-10-19 17:50] lancetharper commented on #500
@coleww added in version `1.0.2`

[2018-10-19 17:50] #500 closed

[2018-11-07 19:14] jnields opened #520 "Add support for srcset and sizes"
I should be able to do something like this:
https://codepen.io/anon/pen/mQVWEZ

[2018-11-07 22:21] jnields commented on #520
oh sorry, how about for `media-object`?

[2018-11-15 00:12] mhewson commented on #520
I'll take a look at that - I think we would need to facilitate a way to pass these attributes into the image for that to work. We are still evaluating the necessity of the media-object and may roll out an update of the activity card that would remove it. Lets chat about what you would like to see here

[2018-11-20 23:58] robatron opened #531 "REI.com star-fill issue on live site"
Hi folks, I'm not sure if this is related to `rei-cedar`, but I noticed y'all's _filled_ rating star colors are grey, so they appear like _unfilled_ stars:

![screen shot 2018-11-20 at 3 54 05 pm](https://user-images.githubusercontent.com/127095/48810221-f4dec300-ecdc-11e8-9028-42aa466f10ff.png)

Examples:
- (screenshot product) https://www.rei.com/product/139918/stickers-northwest-go-outside-stic

[2018-11-26 18:34] mhewson commented on #531
@robatron great to see you on here :) I will look into this -

[2018-11-27 19:55] robatron commented on #531
Hey @mhewson , sorry for the delay. I can repro the error on Chrome v72.0.3622.0 (Official Build) dev (64-bit) on Mac OS X 10.13.6, but it seems to be working fine on Firefox v63.0.3 (64-bit) and Safari v12.0.1 (13606.2.104.1.2)

Screenshots of, left to right, Firefox, Safari, and Chrome:

<img width="1680" alt="screen shot 2018-11-27 at 11 48 56 am" src="https://user-images.githubusercontent.com/

[2018-11-27 21:35] mhewson commented on #531
@rhuded, see above for matrix

[2019-02-07 22:55] eekberg-rei opened #558 "Cdr-link onClick feature"
**Feature request:**
Add `onClick` prop to CdrLink.

Similar to button components, link tags may be used to trigger functions on click instead of redirecting users.

[ ] Add `onClick` prop to script
[ ] Add `@click="onClick"` to template
[ ] Remove default value `#` from `href` prop

[2019-02-07 23:05] mhewson commented on #558
That would make this not a link - we define a link to be a navigable element only if you are looking for onClick support you are able to use the cdr-button component and the correct prop to display it as a link

[2019-02-07 23:43] eekberg-rei commented on #558
Link-like styles on a button sounds perfect. Thanks for the quick response.

[2019-02-08 20:01] eekberg-rei opened #559 "Add breakpoint notation in Docs"
**Feature:**
Add a "Breakpoints" tab to your site docs explaining the breakpoints widths and their notation (e.g. "@md", "@xs").

Example:
* https://vuetifyjs.com/en/framework/breakpoints

[2019-02-08 23:43] mhewson commented on #559
Thank you for the request, I would like to help get this on our roadmap - please request this enhancement via our feature request form https://airtable.com/shrcbq9CHthuMO7AC

[2019-02-08 23:44] #421 closed

[2019-02-09 00:21] darintrimillos commented on #558
Actually, ended up adding the onClick prop to CdrLink as originally requested to keep the style crossover at a minimum. I didn't remove the `#` from `href` and it seemed to work fine. Let me know if you still need that removed. https://www.npmjs.com/package/@rei/cdr-link/v/1.1.0-alpha.0

[2019-02-11 17:20] mhewson commented on #559
thanks for using the request form I will work with the team to prioritize

[2019-02-11 17:20] #559 closed

[2019-02-14 17:47] zcrumbo opened #564 "cdr-checkbox not reflecting bound value"
I'm binding the value of the checkbox to the results of an expression - a situation can occur where clicking on the box updates the internal `newValue` state to `true` but the prop `value` remains `false`, and the checkbox remains in the checked state

expected behavior:
If value of component is bound by parent, checkbox state will always reflect that value

Actual behavior:
checkbox state reflect

[2019-02-14 19:55] lancetharper commented on #564
cdr-checkbox is meant to be used with `v-model`.

If you are using jsx/render functions you have to handle that logic yourself. https://vuejs.org/v2/guide/render-function.html#v-model

[2019-02-19 19:18] eekberg-rei commented on #558
The `onClick` prop for `cdr-link` does not appear to be working, but it does work for `cdr-button`.

My current workaround is
[code]

[2019-02-19 20:58] eekberg-rei commented on #558
Looking into it further, `onClick` does not seem to work on either the `cdr-link` or `cdr-button` components. Perhaps that is because my team is using `JSX` instead of Vue templates.

[2019-02-21 19:00] #564 closed

[2019-02-21 19:05] mhewson commented on #558
@zfolwick can you verify the onClick functionality to button and link?

@eekberg-rei we don't support JSX with our architecture, it not a accepted tech in the tech radar so while I hope to be able to help you if it is a JSX issue you may need to solve for this on your end or factor out the JSX to support the Vue vanilla expectations.

[2019-02-21 19:06] darintrimillos commented on #558
@mhewson I'll sync up with @zfolwick about testing the onClick functionality for link. We'll want to keep that.

[2019-02-21 19:08] #558 closed

[2019-02-21 19:25] KrisKnabel commented on #353
This is an interesting request.  I see the argument, but we should discuss as we may not want to provide this.  It opens the door for easier component customization by consumers which will break on updates and it reduces design control which is one of the main purposes of the design system.  @lancetharper should definitely chime in on this as I believe he knows more as to why we originally decided

[2019-02-21 19:36] KrisKnabel commented on #384
I believe the desire for this is influenced by JSX usage which I have heard is no longer part of REI's supported libraries/frameworks.  This is slightly related to the other issue #353 as it may be our desire to provide our packages in a format of `source/library code' instead of compiled/minified end use code.  We should discuss as a team.

[2019-02-21 19:51] KrisKnabel commented on #420
I feel the title of this issue and the initial comment don't match up well.  The module export format changes appear to have been fixed, and I believe rollup is not one of the tools we have signed up to support, so to me, this could possibly be closed now?

[2019-02-21 21:43] jnields commented on #353
This doesn't have anything to do with customization - you can't customize the code just because the dist file is unminified.    Regardless, just the sentiments of the community seem to be that API should be documented and what is documented is the API regardless of what is "possible"

Instead you should probably include source code in your bundle as well as some sourcemaps

[2019-02-21 23:23] KrisKnabel commented on #353
I believe it does relate and here is why.  Customization is less likely if the internal structure of something is not exposed.  If drilling into and stepping through internal component code, one may see that a one line change would solve a pressing issue.  This could entice one to fork the component and make the change.  If its a black box, the unknown is more of a deterrent.

I am not advocating

[2019-02-21 23:40] lancetharper commented on #353
It's a one-liner to undo minification, but I don't know that it's that useful since the source .vue file is still run through webpack and output as a umd library. So it isn't really useful "source code" whether what's currently there is minified or not.

We can look at including the .vue file into the "files" array so it's available for reference from node_modules...but that still doesn't really h

[2019-02-27 00:00] mhewson commented on #384
This is no longer relevant

[2019-02-27 00:00] #384 closed

[2019-02-27 00:42] KrisKnabel commented on #420
Using object destructuring would solve your issue:
``` import { CdrImg } from `@rei/cdr-img' ```

This is shown in our documentation here: https://rei.github.io/rei-cedar-docs/components/image/?active-tab=api

[2019-02-27 00:42] #420 closed

[2019-02-27 02:02] jnields commented on #384
This is unrelated to jsx - if you are using webpack you need to configure [externals](https://webpack.js.org/configuration/externals/) correctly ... Dunno if this has been done or not since I filed this bug

[2019-03-01 17:43] lancetharper commented on #353
We've republished all currently released components unminified + added source maps 👍

[2019-03-01 17:43] #353 closed

[2019-03-20 16:05] cowills commented on #384
@jnields it appears that this was actually done despite this issue being rejected ¯\_(ツ)_/¯ https://github.com/rei/rei-cedar/commit/e0d9763

[2019-04-04 19:21] luludan opened #599 "Theming functionality"
I've just started on a new project that is using cedar in a vue project.

Just wanted to know if there is any level of theming available (mainly just to change colors) without just creating overwriting classes to change colors.

I can see that the build distributed via npm has compiled css for components, so while I can re-use your existing scss variables I cannot modify and have them reflect in t

[2019-04-15 16:35] bschwartz757 commented on #558
Looking at the code for this component, it does not seem to accept on `onClick` prop. For a link-as-button (my current use case), this renders the component not useful - I have a component that needs to render as a link, but act as a button.

Additionally, the link styling works on mobile layout but does not work on desktop layout (the link becomes a full-width button with more or less browser def

[2019-04-22 22:26] jnields opened #604 "Paginator documentation gives problematic recommendations for link clicks"
Vue-router specifically does this for link clicks:

https://github.com/vuejs/vue-router/blob/dev/src/components/link.js#L105

This isn't in the docs and I worry will cause issues for people who just call `event.preventDefault()` without thinking about it.

Perhaps you can use a `<RouterLink/>` component instead? Or perhaps you can let users render the page via a scoped slot?  (provide link content

[2019-04-22 22:27] jnields opened #605 "How to use paginator without v-model?"
Directives, e.g. `v-model`, are not supported in jsx.

How do I use the paginator with jsx syntax?

[2019-04-22 22:43] cowills commented on #605
would this work? https://github.com/vuejs/jsx

Looks like you can implement the directive manually in JSX, though it's very awkward: https://vuejs.org/v2/guide/render-function.html#v-model

[2019-04-22 22:54] cowills commented on #604
Is the issue that the docs use `e.preventDefault()` but that affects how vue-router works?  https://rei.github.io/rei-cedar-docs/components/pagination/?active-tab=api#usage-with-vue-router
Or are you requesting a change to the pagination component to allow passing a custom component to use instead of the default `a` tags?

[2019-04-22 22:58] jnields commented on #604
Issue:

If you have your click handler just call `e.preventDefault()` without checking for meta keys, `target="_blank"`, etc., you break default browser behavior. Vue-Router, React-Router, etc. all handle this within their link components.

As a potential solution, your API might look something like this:

[code]

[2019-04-23 16:50] mhewson commented on #599
Hi @luludan thanks for the request!
unfortunately we don't support theming at this time - though it may pop into our roadmap  to support a component toggle for such functionality in the future. If you are using the project from this repo you should be able to reset the color values directly within the component css.

[2019-04-23 17:04] jnields commented on #604
Another solution might look like this:

[code]

[2019-04-23 21:04] zcrumbo commented on #605
I've had luck binding to `value` and subscribing to `change` events, which is basically what `v-model` is doing. There's some weird stuff that goes in with some inputs where the browser can hijack state that you need to account for.

[2019-04-23 21:21] cowills commented on #605
it looks like we do some weird mapping related to `v-model`, for example in paginator it's `currentPage` not `value`. (https://github.com/rei/rei-cedar/blob/next/src/components/pagination/CdrPagination.vue#L134-L137)
ideally we would come up with a consistent naming pattern so that JSX users don't need to look at our source code to know how to pass the value prop in

[2019-04-24 16:12] #599 closed

[2019-05-02 21:28] elizabethfinedev opened #607 "Disabled cdr-button has very low contrast (accessibility related)"
I noticed that cdr-buttons are very low contrast between the background color and text color when disabled.  They might need a new design solution to make them more accessible.

[2019-05-02 21:30] cowills commented on #607
<img width="750" alt="Screen Shot 2019-05-02 at 2 29 43 PM" src="https://user-images.githubusercontent.com/48567940/57108160-c8e15800-6ce6-11e9-9cbc-a3761b3be427.png">

[2019-05-02 22:38] lancetharper commented on #607
Disabled elements are not required to meet contrast minimums: https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html#inactive-controls

[2019-05-02 22:46] #607 closed

[2019-05-02 22:53] lancetharper commented on #607
@elizabethfinedev I raised this up with our designers and they recognize that WCAG are minimum requirements and are looking into maybe updating the colors to try and bump contrast up a bit.

[2019-05-09 17:48] jnields opened #608 "Breadcrumbs cause FOUC-like experience with SSR"
The logic for breadcrumb truncation runs on mounted, meaning that before the page javascript loads, the breadcrumbs will render without truncation on a server-rendered page

[2019-05-09 17:49] jnields opened #609 "Breadcrumbs do not allow for event handlers to be attached to links (`items` prop)"
We could potentially need `onEnter`, `onFocus`, `onClick`, etc.

[2019-05-09 18:01] jnields opened #610 "Accordions are not stateless"
Accordions maintain internal state to handle toggling open / closed state which makes it impossible to satisfy a requirement such as "when opening an accordion close all others"

[2019-05-09 18:02] jnields commented on #610
proposed change:

[code]

[2019-05-09 18:31] KrisKnabel commented on #608
This is due to needing to get the rendered width prior to the breadcrumb being displayed to the user so that it does not jitter/shift at page load.  We should find an alternative approach.  Thank you for filing this!  I will follow up with the team and we will discuss next steps.

[2019-05-09 20:58] jnields commented on #608
Another thing to consider: for SEO we very probably want the links to still be on the page (so hidden instead of not rendered)

[2019-05-10 16:40] darintrimillos commented on #610
Thanks for the feedback, we'll look into this and get back to you.

[2019-05-13 19:15] jnields commented on #609
Suggestion - maybe something like this?

[code]

[2019-05-21 20:10] KrisKnabel commented on #609
Jira task created and added to our backlog.
https://issues.rei.com/browse/CDR-719

[2019-05-21 20:12] KrisKnabel commented on #608
Jira task created and added to Cedar Backlog.
https://issues.rei.com/browse/CDR-718

[2019-05-30 17:17] jnields opened #619 "Icon documentation doesn't show available icons"
Can we get something like this?

https://useiconic.com/open/

Where the icons preview and we can see their name? Otherwise it's kind of hard to know what's available

[2019-05-30 17:21] cowills commented on #619
https://rei.github.io/rei-cedar-docs/components/icon/?active-tab=design-guidelines#icon-library does this cover what yr looking for? @jnields

[2019-05-30 17:22] lancetharper commented on #619
We should put a link to that in the API tab probably 👍

[2019-05-30 22:06] lancetharper commented on #619
Will go live with next docs site update https://github.com/rei/rei-cedar-docs/pull/345#pullrequestreview-244052979

[2019-05-30 22:06] #619 closed

[2019-06-03 16:58] elizabethfinedev opened #620 "Cedar Input doesnt update when you change the v-model attr"
Hi there,

I'm working on a form within a modal.  The form looks like this:
`<cdr-input v-model="emailValue" />`

I'd like to reset the cdr-input value when the modal closes. I tried to do:
`onModalClose () {
    this.emailValue = '';
},`

However, it seems like updating the v-model doesn't update the actual value of the input field. Is this a bug or intended?

Thank you!

[2019-06-03 17:14] KrisKnabel commented on #620
Thank you for your feedback Elizabeth.  I will take a look at this.  Could you clarify a couple things for me?  Is the modal destroyed on close or just hidden?  Are you redisplaying the modal with the input after it's closed?  How are you detecting that input value is not updating?

[2019-06-03 17:14] cowills commented on #620
it looks like this is a bug in cdr-input 1.0.1 and 1.0.2, introduced by this commit: https://github.com/rei/rei-cedar/commit/45d6070

downgrading to 1.0.0 seems to work, though that may introduce other errors if yr depending on something that was added in 1.0.1 or 1.0.2 https://github.com/rei/rei-cedar/blob/master/src/components/input/CHANGELOG.md

[2019-06-03 17:26] KrisKnabel commented on #620
Disregard my questions Elizabeth.  Try Cole's recommendation of using version 1.0.0.  If that doesn't work, I can get you a hotfix in an alpha or beta if this is a blocker.  Let me know.

[2019-06-05 19:20] KrisKnabel commented on #620
We have accepted this defect and are planning to have this fix published soon in our Summer Cedar Release.

[2019-06-06 20:52] cowills opened #622 "cdr-tabs renders incorrectly on multiple browsers"
ie11: tab content overflows
chrome: side scrolling issue on overflow
safari: underline does not initialize properly

[2019-06-07 20:31] jnields opened #623 "<CdrInput /> not firing change event"
related: #620

[2019-06-07 21:03] KrisKnabel commented on #623
Yes definitely a bug.  May try to get this piggy backed on the v-model update.  Thank you Joe!

[2019-06-18 18:27] jnields opened #627 "<CdrInput /> box-shadow not visible on iOS safari"
Can this be a border instead of a box-shadow?

[2019-06-18 18:29] lancetharper commented on #623
Input doesn't fire a change event, this is correct. The docs for it are wrong and missing all of the actual events emitted by input -- we'll get that updated.

They should be `input`, `blur`, `focus`, `paste`, and `keydown`.

[2019-06-18 18:57] cowills commented on #627
the box-shadow is used in addition to the border and is needed to indicate an active/focused state, so we can't just use border here. though it looks like the border isn't showing up on IOS safari either 😬

<img width="538" alt="Screen Shot 2019-06-18 at 11 55 16 AM" src="https://user-images.githubusercontent.com/48567940/59711433-f95e5200-91bf-11e9-97f7-8b9514b5f186.png">

[2019-06-18 19:03] cowills commented on #627
https://stackoverflow.com/a/8199147 looks like this fixes the problem

[2019-06-24 20:41] cowills commented on #520
@jnields since the media-object composition is no longer in cedar, and because cdr-img supports srcset and sizes, there does not appear to be anything left that we can do on this ticket.

If you still require support for the media-object composition, let us know and we can work with you to port that into a FEDPACK component. (i partially started that work while trying to update adventures-ui/activ

[2019-06-24 20:41] #520 closed

[2019-06-24 22:15] lancetharper commented on #623
Docs for this have been updated and are now correct. https://rei.github.io/rei-cedar-docs/components/input/?active-tab=api&active-link=events

[2019-06-24 22:15] #623 closed

[2019-06-24 23:30] matthewkoehl opened #636 "cdr-tabs Content container height"
Per discussion with Marie and Jay, Jay requested that this be submitted - as he believes the content container's auto height should adjust to show all containing content by default, unless height is otherwise specified.

[2019-06-24 23:34] matthewkoehl opened #637 "cdr-tabs Overflow container - Scroll bar does not show in MacOS Browsers"
Scroll bar does not show when overflow content is present in browsers on MacOS, but they do show up on Windows systems browsers.

Without the scroll bar, there is no indication to the user that there is additional content contained within the overflow container.

[2019-06-24 23:52] KrisKnabel commented on #636
I am investigating this now.  Thank you @matthewkoehl

[2019-06-24 23:54] KrisKnabel commented on #637
Looking into this now.  Thank you for creating this @matthewkoehl  I will update this issue soon with more details about my findings.

[2019-06-25 19:30] KrisKnabel commented on #637
After meeting with the team on this, scroll bars not showing on overflow is standard within Apple's Design Standard.  We will be updating the tab panel with extra height logic that will prevent overflow (https://github.com/rei/rei-cedar/issues/636).  We will also be investigating alternative recommendations/guidelines for UX design as it pertains to overflow.  I am currently investigating a workar

[2019-06-25 19:36] KrisKnabel commented on #636
Spoke with Cedar team and we will be updating the tabs component with height logic.  There are multiple behaviors/solutions we need to investigate in order to provide the best solution.  This will likely be pushed into the Cedar Fall release.

[2019-06-25 19:37] #637 closed

[2019-06-25 21:04] KrisKnabel commented on #620
This has been fixed in the latest (Summer) Cedar release.

[2019-06-25 21:04] #620 closed

[2019-06-25 21:05] KrisKnabel commented on #627
This has been fixed in the latest (Summer) Cedar release.

[2019-06-25 21:05] #627 closed

[2019-07-08 21:31] darintrimillos opened #643 "cdr-cta cannot be set to full-width only at a breakpoint"
CTA needs some more granular options so that it can be full-width only at the XS breakpoint.

[2019-07-08 21:46] cowills commented on #643
looks like none of the CTA options allow for passing breakpoints 🤔

[2019-07-09 18:47] jakerohr commented on #643
It may be a separate issue, but sizing options similar to what cdr-button has would be awesome as well.

[2019-07-09 18:57] cowills commented on #643
@jakerohr as I understand it, the lack of size options for CTA was an intentional design decision. the idea is that the CTA should expand to be the size of the text contained within it.

[2019-10-07 15:47] darintrimillos commented on #610
This has been fixed in the 3.0.0 release of Cedar.

[2019-10-07 15:47] #610 closed

[2019-10-07 16:52] darintrimillos commented on #643
CTA can now be set `fullWidth` at a specific breakpoint in Cedar 3.0.0.

[2019-10-07 16:52] #643 closed

[2019-10-07 17:07] cowills commented on #609
Breacrumb has been updated in cedar 3.0.0 to support a `link` scopedSlot: https://rei.github.io/rei-cedar-docs/components/breadcrumb/?active-tab=overview#link-scoped-slot

[2019-10-07 17:07] #609 closed

[2019-10-07 17:08] cowills commented on #604
in cedar 3.0.0 pagination now supports scoped slots for rendering custom links: https://rei.github.io/rei-cedar-docs/components/pagination/#link-scoped-slots

[2019-10-07 17:08] #604 closed

[2019-10-07 17:09] cowills commented on #605
https://rei.github.io/rei-cedar-docs/release-notes/fall-2019/?active-link=cdrpagination-cdrselect-and-cdrradio-v-model-binding#cdrpagination-cdrselect-and-cdrradio-v-model-binding
as of cedar 3.0.0, pagination now binds it's v-model using the standard `value` and `@input` props: https://vuejs.org/v2/guide/components.html#Using-v-model-on-Components

[2019-10-07 17:09] #605 closed

[2019-10-07 17:11] cowills commented on #608
as of cedar 3.0.0, breadcrumb no longer runs this truncation logic on page load, which avoids the FOUC when using SSR.

[2019-10-07 17:11] #608 closed

[2020-01-02 17:41] #622 closed

[2020-01-02 17:42] cowills commented on #622
fixed in https://github.com/rei/rei-cedar/pull/734

[2020-02-10 19:56] jnields opened #770 "Webpack is deleting imported CSS in production builds"
This is present on versions 3 and 4

Because cedar has marked the package as `"sideEffects": false`, webpack sees CSS files, too, as being side-effect free and drops them.

https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free

To fix this issue, configure your package to indicate that CSS files emit side effects, e.g. `"sideEffects": ["*.css"]`

[2020-02-10 20:01] cowills commented on #770
added to our intake log

[2020-02-12 21:54] chinnick967 opened #776 "CdrInput aria-describedby attribute"
It would help with accessibility to be able to pass a aria-describedby attribute to the <CdrInput> input element so that things like error messages that result from an input value changing can be read out by screenreaders.

[2020-02-12 22:11] #776 closed

[2020-02-18 20:01] kurtlocker opened #779 "Cedar 4.0.2 - <cdr-tabs/> - centered modifier cuts off left `<cdr-tab-panel/>`s in lower resolutions."
Unable to scroll to the left to reveal first `<cdr-tab-panel/>` in lower resolutions when using `modifier="centered"`.

Steps to repro:
1. Set up `<cdr-tabs/>`

[code]
2. Lower resolution to enough to invoke hidden overflow for `<cdr-tab-panel/>`s.
3. Scroll panels to the right, then attempt to scroll back to the first panel.

Screenshot

![Screen Shot 2020-02-18 at 11 51 07 AM](https://user-image

[2020-02-19 17:24] darintrimillos commented on #779
Added to our intake backlog.

[2020-02-19 18:27] cowills commented on #770
resolved in 3.0.5 and 4.0.2

[2020-02-19 18:27] #770 closed

[2020-03-25 17:46] zcrumbo opened #817 "CdrAccordion cuts off content when resized"
It looks like the accordion is calculating the height of its content for smooth animations, but when the window is resized to a smaller width, content can get cut off.

https://codesandbox.io/s/n32m1
Repro steps:
* open accordion
* resize window to smaller width

[2020-08-25 21:59] cowills commented on #779
This was fixed in the Spring release of Cedar (v5.x.x)

[2020-08-25 21:59] #779 closed

[2020-08-25 21:59] cowills commented on #817
This was fixed in the Spring release of Cedar (v5.x.x)

[2020-08-25 21:59] #817 closed

[2020-08-25 22:00] cowills commented on #636
This will be fixed in the summer release of cedar (v6.x.x). Passing `height="auto"` now enables the tabs height to adjust to content size dynamically

[2020-08-25 22:00] #636 closed

[2022-05-28 12:09] SquidwardHill opened #1098 "Bug: Website: Search for Product by city/state"
Hey there,

I wasn't able to find the appropriate place to add this issue, so feel free to close and move internally to the appropriate team/repo but just wanted to drop an issue that the search tool on the Website doesn't function as expected. (Stumbled upon this as I was attempting to search for something at the Salt Lake City Store Location, reproduced the issue using Chattanooga as a reference

[2022-06-16 20:05] benjag commented on #1098
Hi @SquidwardHill, thanks for opening an issue. This repo is indeed for our design system so I will pass your feedback along to the internal team.

FWIW, that search functionality requires a state when searching by city (i.e. Enter ZIP code or **city, state**) so while "Chattanooga" or "Salt Lake City"  will not work, "Chattanooga, TN" and "Salt Lake City, UT" will. I expect there is some UX feedb

[2022-06-16 20:05] #1098 closed